.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    border: none;
    border-bottom:1px solid var(--color-gray);
}

.header ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
   align-items: center;
   margin-right: 20px;   
}

.header ul li{
    margin-left: 20px;
    padding:20px 0;
   
}

.header ul li a{
    text-decoration: none;
    color: var(--color-gray-light);
    padding:20px 0;
}

.header ul li a:hover{
    color:var(--color-white)
}

.logo h2{
    color:var(--color-white);
    font-size: 35px;
    margin-left: 20px;
}