.buttons{
    display: flex;
    flex-direction: column;
    width:100%;
    margin-top: 20px;
}

.buttons button{
    background-color: var(--color-black);
    border: 1px solid var(--color-gray);
    margin-top: 10px;
    cursor: pointer;
}



.buttons div{
    display: flex;
    flex-direction: row;

}

.buttons h4{
    display: flex;
    align-self:center;
    font-weight: 400;
    font-size: 10px;    
    line-height: 1;
}

.buttons p{
   margin:3px 12px;
    font-size: 12px;
    width:20px;
}

@media (max-width:900px){
    .buttons{
       min-width: 230px;
       margin-top: 80px;
    }
}