.planetData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imageContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:max-content;
    margin: auto auto;    
}

.overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top:175px
}


.overview p {
    margin: 20px 0;
}

.overview{
    width:50%;
    padding:90px 120px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;   
}

.overview h1{
    width:320px;
    padding-right:30px;
}

.overview span{
    font-size:14px;
    font-family: 'League Spartan', sans-serif;
    color:var(--color-gray-light);
    opacity:0.8;
    margin-right: 10px;
}

.overview a{
   font-size: 14px;
   color:var(--color-white);   
    font-weight: 400;
}

.link{
    display:inline-flex;
    flex-direction: row;
    color: var(--color-white);
    opacity: 0.8;
    font-size: 12px;
}

.link .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

@media (max-width: 900px){
    .planetData{
        flex-direction: column;
    }
    .imageContainer{
        height: 440px;
    }
    .image{
        width:184px;
    }
    .overview {
        width:100%;
        flex-direction: row;
       padding: 0 30px;
    }
    .overview h1{
        font-size: 46px;
    }
   .description{
    width: 50%;
    margin-right: 40px;
   }
}
