.footer{
    display: flex;    
    justify-content: center;
    
}

 div.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    padding: 0 110px;
    
}

div.box{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    border: 1px solid var(--color-gray);
    width: 200px;
    padding: 10px 15px;
}

div.box h2{
    margin: -3px 0;
}

@media (max-width:900px){
    div.box h2{
        font-size: 25px;
        line-height: 1.5;
    }

    div.box{
        margin:0 5px;
    }

    div.container{
        padding:20px;
    }

    div.box p{
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    div.container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    div.box{
        width:100%;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px;
    }
    div.box p{
        display: flex;
        line-height: normal;
        
        align-self: center;
        
    }
}