@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;500&family=League+Spartan:wght@400;600;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}           
html, body {
  height: 100%;
}
body {
  --color-white: #fff;
  --color-black:#070724;
  --color-gray:#38384f;
  --color-gray-light:#838391;
  --color-blue-light:#419ebb;            
  --color-yellow:#eda249;
  --color-purple:#6f2ed6;
  --color-red-orange:#d14c32;
  --color-red:#d83a34;
  --color-orange:#cd5120;
  --color-green:#1ec2a4;
  --color-blue:#2d68f0;


background-color: var(--color-black);
background-image: url(/assets/background-stars.svg);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 1440px;
  margin: 0 auto;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color:var(--color-white)
}

h1{
  font-size:80px;
  font-family: 'Antonio', sans-serif;
  font-weight: 500;
  line-height: 103px;
  color:var(--color-white)
} 

h2 {
  font-size: 40px;
  font-family: 'Antonio', sans-serif;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -1.5px ;
}

h3{
  font-size: 12px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.6px;
}

a, h4{
  font-size: 11px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.6px;
}

p{
  font-size: 14px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.8;
 
}

#root, #__next {
  isolation: isolate;
}